# ==================== DATABASE ====================
DATABASE_URL="postgresql://user:password@localhost:5432/green-mart?schema=public"

# ==================== BETTER AUTH ====================
BETTER_AUTH_SECRET="your-better-auth-secret-min-32-chars"
# For Client
NEXT_PUBLIC_APP_URL="http://localhost:3000"
# For Server
BETTER_AUTH_URL="http://localhost:3000"

# OAuth Providers
GITHUB_CLIENT_ID="your-github-id"
GITHUB_CLIENT_SECRET="your-github-secret"
GOOGLE_CLIENT_ID="your-google-id"
GOOGLE_CLIENT_SECRET="your-google-secret"

# ==================== SERVER ====================
SERVER_URL="http://localhost:5000"
NEXT_PUBLIC_SERVER_URL="http://localhost:5000"
PORT=5000
NODE_ENV="development"

# ==================== CLOUDINARY ====================
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# ==================== STRIPE ====================
STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# ==================== PLATFORM SETTINGS ====================
PLATFORM_COMMISSION_PERCENT=10
